<div class="container color-dark">
  <div class="col">
      WatchList ({{watchList.length}})
  </div>
  <div class="col">
    Daily Chart of {{ticker}}
  </div> 
  
</div>

<div class="container color-light">
    <div class="col">
    <form>
        <input type="text" class="txt" name="item" [(ngModel)]="ticker">
        <input type="submit" class="btn" value="Add to WatchList" (click)="getValues()">
    </form>
    <p class="title-container"> WatchList </p>
    <p class="life-container" *ngFor="let stock of watchList" (click)="getValuesFromWL(stock)">
      <label>{{stock}}</label>
      <button style="float: right;" (click)="removestock(stock)">x</button>
    </p>
  </div>

  <div *ngIf="chart" class="col">
      <canvas id="canvas">{{ chart }}</canvas>
    </div>
  
</div>